<!DOCTYPE html>
<html class="no-js" ng-app="app">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/dist/assets/style.css"/>
    <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="/dist/example-2/app.js"></script>
  </head>
  <body class="container sm-margin-top">
    <div class="row" ng-repeat="i in [0, 1, 2, 3]">
      <div class="col-xs-3" ng-repeat="j in [0, 1, 2, 3]">
        <svg-box/>
      </div>
    </div>
  </body>
</html>
